<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>

    
    

    <add key="publicIP" value="190.12.85.114" />
    <add key="TipoCambioMoneda" value="2" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />    
    <add key="RutaReporteGradoPronostico" value="\Reportes\ReportesCrystal\rptGradoPronostico.rpt" />

    <!-- BD local fanny local   -->
    <add key="BDInstance" value="EpxHEtIYIG1i33Uvloyltm7YHkZuuFHtTOiEhvqjLj7qsh2Gj58WXoyTV83kwtIKkEDWPD97z560n5Q8XZ89CAcEqaKj/4r/YKScEoZlRuk="/>

    <!-- bd local
<add key="BDInstance" value="EpxHEtIYIG0gEaP2EmYqmqnPGvd7sSZ4xvkG967DKgxndSG/DOH2B8CzaF7pT5xl3RGQiKeBfaB5ztBGCrKDWqjXFPB4Bt7YI7dT6HDpTB4OxTb4n6tpZCr+8Ev46Lge"/>
-->

<!-- cadena de coneccion para imporar nueva base de datos usado por salcedo vila gaylussac -->
<add key="BDArticulos" value="EpxHEtIYIG3TbxrENOBVcpBU8QH+LOii4WpcVmG0cJPyBgeRKbAvD7SeP4/2HOZT6JP5QBfWzfat2bNLqeQhLw9jYsPMnFzaaoHQ/2av/9wUIOSrwwiNOQ=="/>

<!-- BD Cliente Servidor 13 - DESARROLLO TESORERIA 
<add key="BDInstance" value="EpxHEtIYIG3TbxrENOBVcqdI6JlfobJ/b6pwggN7CmhYXYNfHpIDuwqTdzPiv70x5F9TklgDglGOQlfWL/Vdme65tbMMnk1rrYAmB3+GAV/qJZcHEQ9Y1tCTW7ynMfsmc7iTQC2zcJTTerqJWYqy0kkNKfVtkSo057JCFUJr5YI="/>
-->

<!-- BD Cliente  DESARROLLO SALCEDO VILA GAYLUSSAC
<add key="BDInstance" value="EpxHEtIYIG3TbxrENOBVcqdI6JlfobJ/b6pwggN7CmhYXYNfHpIDuwqTdzPiv70x5F9TklgDglHZrl47PL8agX2g2ykGHuGzYR4fX9bfsI5VfaSJM1p73Eo0PRSE/kyycs7hnLtxo2UX8Lm2+lRr43+TEaaqjfGD"/>
-->

    <!-- BD Cliente local fanny - DESARROLLO Conducta
    <add key="BDInstance" value="EpxHEtIYIG3AKnOtDGcGMpOrLlAOgjC1tfGrDRODncJ6IE5wr9+sOr+7MfwePGK2zcybW+o51Qs5NoVwvxMXo/EvxM4cHOPs3yeb76DV4feMGG2BymfxkXMc8zW6EjhvUT/lUsQsn7FI5aRY6o9NEg=="/>
-->

    <!-- BD Cliente local fanny - DESARROLLO online1
    <add key="BDInstance" value="EpxHEtIYIG3AKnOtDGcGMpOrLlAOgjC1tfGrDRODncJ6IE5wr9+sOr+7MfwePGK2zcybW+o51QsQLGjMwgZZURWG6AyfPN98BTAH9XG2m61hVtdj4pnOJ1MR0O1Jl/RoKjROhCEzz7s="/>
-->

    <!-- BD Cliente local fanny - BL
    <add key="BDInstance" value="EpxHEtIYIG3AKnOtDGcGMpOrLlAOgjC1tfGrDRODncJ6IE5wr9+sOr+7MfwePGK2zcybW+o51Qs5NoVwvxMXo4KjNuEbI7oWmhDUG5zZu7Sqzf74xUcLV5Sw5x3f7rP350V0elTMK4JlxvMFJbSokw=="/>
-->
    <!-- BD Cliente Nuevo Servidor 13 - DESARROLLO
    <add key="BDInstance" value="EpxHEtIYIG3TbxrENOBVcqdI6JlfobJ/b6pwggN7CmhYXYNfHpIDuwqTdzPiv70x5F9TklgDglHnR8rz2TqewBEP3GC0zujUYR6po1QeXHFQPYlmlSnStxwN/nbPnfYETCJ7Tg015hvQA+Hcg5GyVphlB5LvKyY6GB9RSE58efFx7nxc7g1QFw=="/>
-->
    <!-- BD Cliente Nuevo Servidor 13 - DESARROLLO ACTUALIZAR 
    <add key="BDInstance" value="EpxHEtIYIG3TbxrENOBVcqdI6JlfobJ/b6pwggN7CmhYXYNfHpIDuwqTdzPiv70x5F9TklgDglGQ+FCdPaC2gigUvvkDCL5775GqnSNPFpx+R9cFxXjmygNbYlT+kuGavCmLiW/EtB+eYequ/YlSFr0v9z624jS4oNOQt8/LvAM="/>
-->
    <!-- BD Cliente Nuevo Servidor 13 - DESARROLLO BD_SanGeorgeOnline_NotasCuantitativas 
<add key="BDInstance" value="EpxHEtIYIG3TbxrENOBVcqdI6JlfobJ/b6pwggN7CmhYXYNfHpIDuwqTdzPiv70x5F9TklgDglG6iyCNUWanbUIBsbmZ8eCs9ASxFkIt7gpTLmNSpVf5TLUk4RYnhxbNInqzMh6UinRoFNvF/zXcigL9/t1J/H3rasVe9fmiYhkcaMQk2W/8mg=="/>
-->
    <!-- BD Admision - Producción -->
    <add key="BDInstanceAdmision" value="EpxHEtIYIG3TbxrENOBVcpBU8QH+LOii4WpcVmG0cJPyBgeRKbAvDweIt+N7OaURBQ7TeJtB4kQO/TLg4ArNJpCUmyv4Qj6iIMgzdfCw6Jr9EAKEW+Laaea4070kZTY6xw8JORJAOjw/x4voe635+bNas79WdprA"/>

    <!-- BD Admision - Desarrollo 
<add key="BDInstanceAdmision" value="EpxHEtIYIG3TbxrENOBVcpBU8QH+LOii4WpcVmG0cJPyBgeRKbAvDweIt+N7OaURBQ7TeJtB4kQO/TLg4ArNJoR21GLRh1EdJzUvSqMemekt4B3cMbHEk6pf167CUNXDZmPLvyD44rjTJxXudb/PD4SJ/GTtK7QRTLDFUS8dyAQ="/>
-->


    <add key="RutaPlantillaExcelXLXS" value="\Plantillas\Exportaciones\Plantilla_Rep_XLSX.xlsx"/>

    <add key="RutaReportesExcel" value="\Reportes\"/>
    <add key="Recuperacontrasenia_Familia" value="PlantillaRecuperacion_Familia.html"/>
    <add key="Recuperacontrasenia_Trabajador" value="PlantillaRecuperacion_Trabajador.html"/>
    <add key="RutaPlantillaFichaUnicaMatricula" value="\Plantillas\Exportaciones\Ficha_UnicaMatricula.xls"/>
    <add key="RutaPlantillaExcel" value="\Plantillas\Exportaciones\Plantilla_Rep_Asuntos.xls"/>
    <add key="RutaPlantillaExcel_BancoLibros" value="\Plantillas\Exportaciones\PrestamosPorAlumnos1.xls"/>
    <add key="RutaPlantillaExcel_Blanco" value="\Plantillas\Exportaciones\Plantilla_Blanco.xls"/>
    <add key="RutaPlantillaExcel_DevolucionBancoLibros" value="\Plantillas\Exportaciones\DevolucionesPorAlumnos.xls"/>
    <add key="RutaPlantillaExcelSinFormato" value="\Plantillas\Exportaciones\Plantilla_Rep_AsuntosSinFormato.xls"/>
    
    
    <!--reportes letras-->
    <add key="RutaPlantillaExcelLetras" value="\Plantillas\Exportaciones\letrasTempII.xlsx"/>
    <!--reportes letras-->



    <!--<add key="RutaPlantillaExcel_UsuariosEnElSistemaGeneral" value="\Plantillas\Exportaciones\UsuariosEnElSistemaGeneral.xls" />
    <add key="RutaPlantillaExcel_UsuariosEnElSistemaDetalle" value="\Plantillas\Exportaciones\UsuariosEnElSistema.xls" />-->
    <add key="RutaPlantillaExcel_NominaSIAGE" value="\Plantillas\Exportaciones\Nomina_SIAGE.xls"/>

    <!-- Rep - Enfermería -->
    <add key="RutaPlantillaExcel_ReporteEnfermeria1" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoEnfermeria_1.xls"/>
    <add key="RutaPlantillaExcel_ReporteEnfermeria1_3" value="\Plantillas\Exportaciones\Plantilla_ReporteEnfermeria_1_3.xls"/>
    <add key="RutaPlantillaExcel_ReporteEnfermeria3" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoEnfermeria_3.xls"/>
    <add key="RutaPlantillaExcel_ReporteEnfermeria6" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoEnfermeria_6.xls"/>
    <add key="RutaPlantillaExcel_ReporteEnfermeria7" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoEnfermeria_7.xls"/>
    <add key="RutaPlantillaFichaAtencionHistorialClinicoHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FichaAtencionHistorialClinico_html.html"/>
    <add key="RutaPlantillaExcel_ReporteViajesDeEstudio" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoPagosViajeDeEstudio.xls"/>

    <!-- Rep - Pensiones  ok-->
    <add key="RutaPlantillaExcel_ReportePensiones13_16" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoPensiones_13_16.xls"/>
    <add key="RutaPlantillaExcel_ReportePensiones13_17" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoPensiones_13_17.xls"/>
    <add key="RutaPlantillaExcel_ReportePensiones13_19" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoPensiones_13_19.xls"/>
    <add key="RutaPlantillaExcel_ReportePensiones14_18" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoPensiones_14_18.xls"/>
    <add key="RutaPlantillaExcel_ReportePensiones24_41" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoPensiones_24_41.xls"/>
    <add key="RutaPlantillaExcel_ReportePensiones15" value="\Plantillas\Exportaciones\Plantilla_Rep_ResumenBecas.xls"/>
    <add key="RutaPlantillaExcel_ReportePensiones15_20" value="\Plantillas\Exportaciones\Plantilla_Rep_AsuntosSinFormato.xls"/>
    <add key="RutaPlantillaCompromisoPagoTesoreriaHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_CompromisoPago_html.html"/>
    <add key="RutaPlantillaPagoLetra" value="\Plantillas\Exportaciones\Plantilla_Letras.xls"/>
    <add key="RutaPlantillaCompromisoPagoLetra" value="\Plantillas\Exportaciones\Formato5_CompromisoPago.dot"/>
    <add key="RutaPlantillaExcel_ReportePensiones15_20" value="\Plantillas\Exportaciones\Plantilla_Rep_AsuntosSinFormato.xls"/>

    <add key="RutaPlantillaFichaAlumnoHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FichaAlumno_html.html"/>

    <add key="RutaPlantillaCompromisoPagoHtml" value="\Plantillas\Pensiones\Plantilla_CompromisoPago_html.html"/>
    <add key="RutaPlantillaCompromisoPago" value="\Plantillas\Pensiones\Plantilla_CompromisoPago.html"/>

    <!-- confirmacion asistentes - Entrevistas -->
    <add key="RutaPlantillaExcelConfirmacionAsistencia" value="\Plantillas\Exportaciones\Plantilla_Exportacion_ConfirmacionAsistencia.xls"/>

    <!-- Rep - Merito Demerito -->
    <add key="RutaPlantillaExcel_ReporteMeritDemeritoXAlumnoCurso" value="\Plantillas\Exportaciones\MeritDemeritoXAlumnoCurso.xls"/>

    <!-- Rep - Asistencia -->
    <add key="RutaPlantillaExcel_ReporteIncidenciasAsistencia" value="\Plantillas\Exportaciones\IncidenciasAsistencia.xls"/>

    <!-- Rep - Retiros -->
    <add key="RutaPlantillaExcel_ReporteAlumnosRetirados" value="\Plantillas\Exportaciones\AlumnosRetirados.xls"/>

    <!-- Rep - Matriculas -->
    <add key="RutaPlantillaExcel_ReporteMatricula17_33" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoMatricula_17_33.xls"/>
    <add key="RutaPlantillaExcel_ReporteMatricula17_34" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoMatricula_17_34.xls"/>
    <add key="RutaPlantillaExcel_ReporteMatricula17_35" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoMatricula_17_35.xls"/>

    <!-- Rep - No Matriculas -->
    <add key="RutaPlantillaExcel_ReporteMatricula18_39" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoMatricula_18_39.xls"/>


    <!-- Rep - Accesos al Sistema -->
    <add key="RutaPlantillaExcel_ReporteAccesoSistema8_9" value="\Plantillas\Exportaciones\Plantilla_ReporteAccesoSistema_8_9.xls"/>
    <add key="RutaPlantillaExcel_ReporteAccesoSistema8_10" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamicoAccesoSistema_8_10.xls"/>

    <add key="RutaPlantillaHtml1" value="\Plantillas\Exportaciones\Plantilla_Rep_html.html"/>
    <add key="RutaPlantillaFichaAtencionHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FichaAtencion_html.html"/>
    <add key="RutaPlantillaFichaAtencionFamiliaHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FichaAtencionFamilia_html.html"/>
    <add key="RutaPlantillaFichaMedicaHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FichaMedica_html.html"/>

    <add key="RutaPlantillaFotosLibrosHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FotosLibros_html.html"/>
    <add key="RutaPlantillaFotosAlumnosHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FotosAlumnos_html.html"/>

    <add key="RutaPlantillaFichaFamiliarHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_FichaFamiliar_html.html"/>
    <add key="RutaPlantillaEnfermeriaHtml" value="\Plantillas\Reportes\Plantilla_Rep_Enfermeria.html"/>
    <add key="RutaPlantillaEnfermeriaWideHtml" value="\Plantillas\Reportes\Plantilla_Rep_Enfermeria_Wide.html"/>

    <add key="RutaPlantillaPlanCurricular" value="\Plantillas\Reportes\Plantilla_Rep_PlanCurricular.html"/>
    <add key="RutaPlantillaReportesSeguimiento" value="\Plantillas\Exportaciones\Formato6_ReportesSeguimiento.dot"/>
    <add key="RutaPlantillaReportesSeguimientoWeekly" value="\Plantillas\Exportaciones\Formato7_ReportesSeguimientoWeekly.dot"/>
    <add key="RutaPlantillaWeeklyReportHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_WeeklyReport_html.html"/>
    <add key="RutaPlantillaMidTermReportHtml" value="\Plantillas\Exportaciones\Plantilla_Rep_MidTermReport_html.html"/>
    <add key="RutaPlantillaMidTermReportHtml_Junior" value="\Plantillas\Exportaciones\Plantilla_Rep_MidTermReport_html_Junior.html"/>

    <!-- RUTA DE CARTAS DE MOROSIDAD - TESORERÍA -->
    <add key="RutaPlantillaEsquelas2" value="\Plantillas\Exportaciones\Formato2_Esquela.dot"/>
    <add key="RutaPlantillaEsquelas1" value="\Plantillas\Exportaciones\Formato1_Esquela.dot"/>
    <add key="RutaPlantillaCitacion" value="\Plantillas\Exportaciones\Formato3_Citacion.dot"/>
    <add key="RutaPlantillaSuspension" value="\Plantillas\Exportaciones\Formato4_Suspension.dot"/>

    <!-- CONFIGURACION DE EMAILS -->

    <add key="SMTP_SERVER" value="Kne6ZXw02W7CqUtfvYdhVQzyd0HwagLZ"/>
    <add key="PORT_SAL" value="R7nag6sx0pQ="/>
    <add key="EMAIL_FROM_SAL" value="OK1IQ7fyi89SDk3kvXzov2zkiBNe5olDpjYt4+k7m9o="/>
    <add key="USER_SAL" value="OK1IQ7fyi89SDk3kvXzov2zkiBNe5olDpjYt4+k7m9o="/>
    <add key="PASSWORD_SAL" value="nNG72KKSJlALpJu4rkKOSA=="/>
        
    <!-- 
    <add key="SMTP_SERVER" value="dL5A3VdjBJKx3H6kCb+SEXzQ6/xgNf2PDX/ybnoTvno="/>
    <add key="PORT_SAL" value="R7nag6sx0pQ="/>
    <add key="EMAIL_FROM_SAL" value="OK1IQ7fyi89SDk3kvXzov/7h+oOPUza+Lk/yHZIuttOW3Q8HfRQn7Q=="/>
    <add key="USER_SAL" value="OK1IQ7fyi89SDk3kvXzov/7h+oOPUza+Lk/yHZIuttOW3Q8HfRQn7Q=="/>
    <add key="PASSWORD_SAL" value="czukTH7LmnkyXgInwMtiTQ=="/>
    -->
    <add key="EMAIL_ALERTA" value="jmatta@stgeorgescollege.edu.pe"/>

    <!-- RUTA DE FOTOS DE USUARIOS - SISTEMA -->
    <add key="RutaFotosUsuarios_Web" value="/Temporales_SanGeorgeOnline/Fotos/"/>
    <add key="RutaFotosUsuarios_Web_Admin" value="/Temporales_SanGeorgeOnline/Fotos/admin/"/>
    <add key="RutaFotosUsuarios_Web_Alumn" value="/Temporales_SanGeorgeOnline/Fotos/alumn/"/>
    <add key="RutaFotosUsuarios_Web_Alumn_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Fotos\alumn\"/>
    <add key="RutaFotosUsuarios_Web_Famil" value="/Temporales_SanGeorgeOnline/Fotos/famil/"/>

    <!-- RUTA DE LOGOS -->
    <add key="RutaImagenEscudoLogoBlanco_Web_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Imagenes\Escudo_Blanco.png"/>
    <add key="RutaImagenEscudoLogoBlanco_Web" value="\SaintGeorgeOnline\App_Themes\Imagenes\Escudo_Blanco.png\"/>
    <add key="RutaImagenEscudoLogoConTexto_Web" value="http://dsg.sanjorge.edu.pe:8088/Temporales_SanGeorgeOnline/Imagenes/Imagenes_Logos/St_Georges4.jpg"/>

    <!-- RUTA DE DOCUMENTOS DE Mensajeria-->
    <add key="RutaMensajeria_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Mensajeria\Mensajeria\"/>
    <add key="RutaMensajeria_Temp_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Mensajeria\Mensajeria_temp\"/>
    <add key="RutaMensajeria_Web" value="/Temporales_SanGeorgeOnline/Mensajeria/Mensajeria/"/>
    <add key="RutaMensajeria_Temp_Web" value="/Temporales_SanGeorgeOnline/Mensajeria/Mensajeria_temp/"/>

    <!-- RUTA DE DOCUMENTOS DE COMUNICADOS-->
    <add key="RutaDocumentoComunicados_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Documentos\Comunicados\"/>
    <add key="RutaDocumentoComunicados_Temp_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Documentos\Comunicados_temp\"/>
    <add key="RutaDocumentoComunicados_Web" value="/Temporales_SanGeorgeOnline/Documentos/Comunicados/"/>
    <add key="RutaDocumentoComunicados_Temp_Web" value="/Temporales_SanGeorgeOnline/Documentos/Comunicados_temp/"/>

    <!-- RUTA DE DOCUMENTOS DE NOMINA SIAGE-->
    <add key="RutaDocumentoNominaSIAGE_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Documentos\Nominas_Temp\"/>

    <!-- RUTA DE DOCUMENTOS DE NOTAS BIMESTRALES X SALON SIAGE-->
    <add key="RutaDocumentoNotasBimestralesSIAGIE_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Documentos\NotasBimestrales_Temp\"/>

    <!-- RUTA DE DOCUMENTOS DE MATRICULA-->
    <add key="RutaDocumentoMatricula_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Documentos\Matricula\"/>

    <!-- RUTA DE FOTOS DE LIBROS - BANCO DE LIBROS -->
    <add key="RutaImagenesBancoLibro_Web" value="/Temporales_SanGeorgeOnline/Imagenes/Imagenes_BancoLibro/"/>


    <add key="RutaImagenesBancoLibro_Temp_Web" value="/Temporales_SanGeorgeOnline/Imagenes/Image_temp/"/>
    <add key="RutaImagenesBancoLibro_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Imagenes\Imagenes_BancoLibro\"/>
    <add key="RutaImagenesBancoLibro_Temp_Local" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Imagenes\Image_temp\"/>
    <add key="CantidadPesoMaximoLibro" value="204800"/>
    <add key="RutaImagenMenu_Web" value="\SaintGeorgeOnline\App_Themes\Imagenes\Menu\"/>
    <add key="RutaImagenMenu_Web_Externa" value="/SaintGeorgeOnline/App_Themes/Imagenes/Menu/"/>
    <add key="RutaImagenMenu_Local" value="C:\Inetpub\wwwroot\SaintGeorgeOnline\App_Themes\Imagenes\Menu\"/>
    <add key="RutaDocuMenu_Local" value="C:\Inetpub\wwwroot\SaintGeorgeOnline\Documentacion\"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/Temp_Charts/;"/>
    <add key="RutaDocumentosMatricula" value="\Plantilla_DocumentosMatricula"/>

    <!-- CONFIGURACIÓN DE CRYSTAL REPORTS -->
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>

    <!-- CONFIGURACIÓN DE MÓDULO PENSIONES -->
    <add key="MontoPorLetra" value="30.00"/>
    <add key="MontoPorProtestaLetra" value="61.50"/>
    <add key="SimboloMonedaLetra" value="S/."/>
    <add key="DescuentoPagoAnual" value="0.03"/>

    <!-- CONFIGURACIÓN DE MÓDULO PENSIONES - FILTRO DE LISTADOS DE CONCEPTOS POR FORMULARIOS -->
    <add key="CodigoPagina_PagosPorCaja" value="1"/>
    <add key="CodigoPagina_NotaCredito" value="2"/>
    <add key="CodigoPagina_NotaDebito" value="3"/>
    <add key="CodigoPagina_IngresosVarios" value="4"/>
    <add key="CodigoPagina_IngresosVariosSede" value="41"/>
    <add key="CodigoPagina_EmisionDeBoletasEnLote" value="5"/>
    <add key="CodigoPagina_BuscarTalonarios" value="6"/>
    <add key="CodigoPagina_GeneracionLetras" value="7"/>
    <add key="CodigoPagina_ReportesPensiones_CancelacionDiaria" value="8"/>
    <add key="CodigoPagina_RegistroDeudasGenerales" value="9"/>
    <add key="CodigoPagina_DescargaPagosPorBanco" value="10"/>
    <add key="CodigoPagina_ImpresionTalonarios" value="11"/>
    <add key="CodigoPagina_EmisionDeBoletasEnLoteSedes" value="12"/>
    <add key="CodigoPagina_NotaCreditoOrigen" value="13"/>

    <!--PESOS DE DOCUMENTOS -->
    <add key="CantidadPesoMaximoArchivos" value="1048576"/>

    <!--PESOS DE DOCUMENTOS DE MENSAJERIA -->
    <add key="CantidadPesoMaximoArchivosMensajeria" value="1048576"/>

    <!--Relacion Alumnos -->
    <add key="Plantilla_ReporteRelacionAlumno" value="\Plantillas\Exportaciones\Plantilla_ReporteRelacionAlumno.xls"/>

    <!--Relacion Médicamento, Deuda y Enfermedad -->
    <add key="Plantilla_Reporte_Medic_Deuda" value="\Plantillas\Exportaciones\Plantilla_Reporte_Medic_Deuda.xls"/>
    <add key="Plantilla_Reporte_Enfermedad" value="\Plantillas\Exportaciones\Plantilla_Reporte_Enfermedad.xls"/>


    <!-- Parámetros para el manejo de Archivos Adjuntos - pruebas local 
<add key="RutaServidorArchivosAdjuntos" value="C:/AdjuntosSGO/"/>
-->

    <!-- Parámetros para el manejo de Archivos Adjuntos  -->
    <add key="RutaServidorArchivosAdjuntos" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Documentos\Mensajeria\" />
    <add key="PlantillaReporteGradosPronostico" value="\Plantillas\ExportacionLibreta\rptGradoPronostico.rpt"/>

    <add key="TamañoMaximoArchivos" value="2000000"/>
    <add key="MaximoNumeroArchivosProfesor" value="3"/>

    <!-- Parámetros para el manejo de Archivos Adjuntos Tarea - pruebas local
<add key="RutaServidorArchivosAdjuntosTarea" value="C:/AdjuntosTarea/"/>
 -->
    
    <!-- Parámetros para el manejo de Archivos Adjuntos --> 
    <add key="RutaServidorArchivosAdjuntosTarea" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Documentos\Tareas\" />


    <!-- LIBRETAS Y CONSOLIDADOS -->
    <add key="RutaPlantillaLibretaSecundariaWeb" value="\Plantillas\ExportacionLibreta\LibretaSecundariaWeb.xlsx"/>


    <add key="RutaNotaBoC" value="\Plantillas\ExportacionLibreta\NotasAoC.xlsx"/>

    <add key="familia" value="\Plantillas\ExportacionLibreta\reporteFamilia.xlsx"/>
    <add key="consolidadoNotasCualitativo" value="\Plantillas\ExportacionLibreta\cosolidadoReporteCualitativo.xlsx"/>

    <add key="RutaPlantillaLibretaSecundaria" value="\Plantillas\ExportacionLibreta\LibretaSecundaria.xls"/>
    <add key="RutaPlantillaConsolidadoSecundaria" value="\Plantillas\ExportacionLibreta\ConsolidadoSecundaria.xls"/>

    <add key="RutaPlantillaConsolidadoPrimaria" value="\Plantillas\ExportacionLibreta\plnConsolidadoPrimaria.xlsx"/>
    <add key="RutaPlantillaLibretaPrimaria" value="\Plantillas\ExportacionLibreta\libretaPrimaria.xlsx"/>

    <add key="RutaPlantillaLibretaPrimariaCuatroHojas" value="\Plantillas\ExportacionLibreta\libretaPrimariaCuatroHojas.xlsx"/>
    
    <add key="RutaPlantillaLibretaInicial" value="\Plantillas\ExportacionLibreta\libretaInicial.xlsx"/>

    <add key="RutaPlantillaLibretaInicialSegBim" value="\Plantillas\ExportacionLibreta\libretaInicialdoSegBim.xlsx"/>




    <add key="RutaPlantillaConsolidadoInicial" value="\Plantillas\ExportacionLibreta\consolidadoEvaluacion.xlsx"/>


    <add key="RutaPlantillaConsolidadoAcumulado" value="\Plantillas\ExportacionLibreta\plnConsolidadoAcumulativoNotasSeccion.xlsx"/>





    <add key="RutaPlantillaReporteConparacion" value="\Plantillas\ExportacionLibreta\reporteComparacionBimestres.xlsx"/>

    <add key="RutaPlantillaMidTermReport" value="\Plantillas\ExportacionLibreta\PlantillaMidTermReport.xlsx"/>



    <add key="RutaPlantillaReporteConparacionBimestreGrado" value="\Plantillas\ExportacionLibreta\reporteComparacionBimestresGradoBimestre.xlsx"/>


    <!--plantilla descriptores-->
    <add key="plantillaDescriptores" value="\Plantillas\ExportacionLibreta\plantillaDscriptores.xlsx"/>

    <!--plantilla descriptores-->
    <add key="RutaLogoLibreta" value="C:\Inetpub\wwwroot\Temporales_SanGeorgeOnline\Imagenes\Imagenes_Logos\Escudo_SG.jpg"/>
    <!-- 
    <add key="RutaLogoLibreta" value="D:\miLogo\Escudo_SG.jpg"/>
    -->

    <!--plantilla reporte notas supervision-->
    <add key="plantillaLibretaRevision" value="\Plantillas\ExportacionLibreta\plantillaLibretaRevision.xlsx"/>


    <add key="plantillaComentario" value="\Plantillas\ExportacionLibreta\repAlumnoComentario.xlsx"/>


    <add key="pantillaClassSummaryReport" value="\Plantillas\ExportacionLibreta\plnCassSumaryReport.xlsx"/>


    <add key="plantillaTutorReport" value="\Plantillas\ExportacionLibreta\tutorReprt.xlsx"/>

    <add key="plantillaReporteTutorConducta" value="\Plantillas\ExportacionLibreta\PlnReporteTutorConductaAoC.xlsx"/>

    <!--inicioa plantilla reporte consolidado secundaria tipo curso-->


    <add key="plantillaReporteConsolidadoSecundariaTipoCurso" value="\Plantillas\ExportacionLibreta\repConsolidadoSecundaria.xlsx"/>

    <!--fin-->


    <!--plantilla reporte grados pronostico-->
    <add key="plantillaReporteGradoPronostico" value="\Plantillas\ExportacionLibreta\rptGradoPronostico.rpt"/>

    <!--fin reporte plnatill reporte grado pronostico-->


    <!--reporte de pagos de servicios-->
    <add key="RutaPlantillaExcel_PagosServicios" value="\Plantillas\Exportaciones\Plantilla_ReportePagosServicios.xlsx"/>
    <add key="RutaPlantillaExcel_ReporteSolicitudPresupuestoYAsignacionEstructuraSSSCentroCostoClases" value="\Plantillas\presupuestos\nuevo.xlsx"/>

    <!--<add key="RutaPlantillaExcel_ReporteDinamico_1" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamico_1.xls" />-->


    <add key="RutaPlantillaExcel_ReporteDinamico_1" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamico_1_copia.xls" />

    <add key="RutaPlantillaExcel_ReporteDinamico_2" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamico_2.xls" />


    <add key="RutaPlantillaExcel_ReporteDinamico_2copia" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamico_2-copia.xls" />

    <add key="RutaPlantillaExcel_ReporteDinamico_2copiaII" value="\Plantillas\Exportaciones\Plantilla_ReporteDinamico_2-copia-copia.xls" />

    <add key="RutaPlantillaExcel_ReporteSeguro" value="\Plantillas\Exportaciones\Plantilla_FormatoSeguro.xlsx" />

    <!--plantila reporte del merito demerito-->

    
    
    
    <!--'''''-->
    <add key="MeritoDemerito" value="\Plantillas\ExportacionLibreta\MeritoDemerito.xlsx"/>
    
    <!--plantilla reporte cargo de entrega-->
    <add key="reporteCargoEntrega" value="\Plantillas\ExportacionLibreta\PlantillaCargoEntrada.xlsx"/>

    <add key="plantillaLetras" value="\Plantillas\ExportacionLibreta\PlantillaCargoEntrada.xlsx"/>

    <!-- Certificado Oficial -->
    <add key="RutaPlantillaExcel_CertificadoOficial" value="\Plantillas\Certificados\CertificadoOficial.xlsx"/>


    <add key="certificadoPrimaria" value="\Plantillas\ExportacionLibreta\certificadoII.xlsx"/>

    <add key="reporteHouse" value="\Plantillas\ExportacionLibreta\reporteHouse.xlsx"/>
    <add key="reporteEnfermeria" value="\Plantillas\ExportacionLibreta\plnReporteEnfermeria.xlsx"/>
    
  </appSettings>
  <connectionStrings>
    <add name="BD_SanGeorgeOnlineConnectionString" connectionString="data source=192.168.1.13;initial catalog=BD_SanGeorgeOnline; uid=SanJorgeOnlineSG; pwd=5g0nl1y%" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

    <!-- Tamaño maximo de subida de archivos -->
    <httpRuntime executionTimeout="110" maxRequestLength="4048" />


    <!-- Globalizacion -->
    <globalization culture="es-PE" />

    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="atk" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->

    <authentication mode="Forms">
      <forms name=".STGEORGEONLINE"
             loginUrl="/SaintGeorgeOnline/Acceso/Login.aspx"
             protection="All"
             timeout="120"
             path="/"
             
             >
        <!-- protection="[All|None|Encryption|Validation]" 
        Forms
        Windows
        -->
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
      <!-- Deny all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
      -->
    </authorization>
    <customErrors mode="Off"/>
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>

  </system.web>
  <location path="Acceso">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="Alertas_jquery">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Imagenes">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="OlvidoContrasenia">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="Confirmaciones">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- Configuracion Json -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
