/*
Skin Name: SlideDeck Website Skin
Skin URI: http://www.slidedeck.com/
Description: The skin used at slidedeck.com
Version: 1.1
Author: digital-telepathy
Author URI: http://www.dtelepathy.com/
Tags: flexible, white, black, multi-color
*/

#slidedeck_frame {
    position: relative;
	/*background: url('../images/back.png') 0 0 no-repeat;*/
	width: 900px;
	height: 314px;
	padding: 0;
	border: solid 0px red;
}

#Page{
    position: relative;
	background: #FFFFFF;
	width: 500px;
	height: 314px;
	padding: 28px 30px;
	border: solid 0px orange;
	float:left;
}

#slidedeck_frame dl {
    position: relative;
	width: 300px;
	height: 300px;
	margin: 0;
    padding: 0;
    border: solid 0px green;
    float:left
}			
.slidedeck dd {
    position: relative;
	height: 294px;
	padding: 10px 15px;
    margin: 0;
	border-right: 5px solid #d7d7d7;
	border: solid 0px blue;
	background: url('../images/slides.png') bottom left #d7d7d7 repeat-x;
}
.slidedeck dt {
    position: relative;
	cursor: pointer;
	height: 43px;
	line-height: 38px;
	font-size: 12px;
	font-weight: bold;
	font-family: "Futura Bold", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: url('../images/spines.png') top left #d7d7d7;
	color: #505050;
    margin: 0;
    padding: 0;
}
.slidedeck dt:hover {
	color: #000;
	background-position: center left;
}
.slidedeck dt.active, .slidedeck dt.active:hover {
	cursor: default;
	color: #fff;
	background-position: bottom left;
}
.slidedeck dt .index {
	font-size: 24px;
	font-weight: normal;
	font-family: Futura, Arial, Helvetica, sans-serif;
	color: #505050;
}
.slidedeck dt:hover .index { color: #000000; }
.slidedeck dt.active .index { color: #ffffff; }
.slidedeck .activeCorner {
	margin-left: -6px;
	background-image: url('../images/corner.png');
	width: 12px;
	height: 25px;
}